* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #a8dadc;
    color: #1d3557;

}

/* nav {
    background-color: #e63946;
    text-decoration: none;
    text-decoration-line: none;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.4rem;
    width: 100%;

}

nav a {
    text-decoration: none;
    color: aliceblue;
    width: 6rem;
    height: 2rem;
    background-color: #808482;
    text-align: center;
    padding: .9rem;
    border-radius: 1rem;
    margin: 0.3rem;
} */

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #39fe9c;
}

#wrapper h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    margin: 1REM;
    background: #1d3557;
    color: #a8dadc;
    border-radius: 1rem;
}

#wrapper p {
    font-size: 1.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1.7rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

form #guess {
    font-size: 2.9rem;
    text-decoration: underline;
    margin-top: 1rem;
}

form #guessField {
    height: 2.5rem;
    width: 16rem;
    margin-top: 1rem;
    border: 2px solid transparent;
    border-radius: 0.6rem;
    background-color: #f8fffc;
    color: #695858;
    font-size: 1.4rem;
    text-align: center;
    box-shadow:  inset 0 -3em 3em rgb(0 200 0 / 30%),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 60%);
}

form #subt {
    width: 14rem;
    margin-top: 1.5rem;
    height: 2.6rem;
    border: 3px solid rosybrown;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    cursor: pointer;

}

.gusses {
    width: 20px;
    height: 10px;
    background-color: #695858;
}